.home-container {
  position: relative;
  padding: 20px;
}

.home-back-button {
  background-color: #c9b0cd9e;
  color: #003366;
  padding: 5px 10px;
  border: 3px solid #003366;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 20px;
  position: absolute; /* Posiciona el botón manualmente */
  top: 30px; /* Ajusta la posición superior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%);
}

.home-back-button:hover {
  background-color: #003366;
  color: white;
}

/* General body styles */
.home-reserva-body {
  font-family: Arial, sans-serif;
  background-color: transparent;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card styles */
.home-reserva-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 800px;
  padding: 30px;
  margin: 50px;
}

.dark .home-reserva-card {
  background-color: #2e2c2f;
}

/* Title styles */
.home-reserva-title {
  margin-bottom: 45px;
  text-align: center;
  color: #475b63;
  font-size: 2rem;
  line-height: 1;
  font-weight: 800;
}

.dark .home-reserva-title {
  color: #ffffff; /* Texto en modo oscuro */
}

/* Form group styles */
.home-form-group {
  margin-bottom: 15px;
}

.home-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.dark .home-label {
  color: #f3e8ee; /* Texto en modo oscuro */
}

/* Input styles */
.home-input {
  width: 100%;
  padding: 8px 5px;
  background-repeat: no-repeat;
  background-color: white;
  border: 3px solid #475b63;
  border-radius: 12px;
  font-size: 16px;
  color: #9ca3af;
}

.dark .home-input {
  background-color: #1a1a1a !important; /* Fondo en modo oscuro */
  color: #aaa !important; /* Texto en modo oscuro */
}

.home-input-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  border: 3px solid #475b63;
  border-radius: 12px;
  height: 40px;
  display: flex;
  background-color: white;

  width: 100%;
  color: #1a1a1a;
  background-repeat: no-repeat;
  margin-bottom: 0.8vh;
  background-image: url("../assets/ChevronDownIcon.svg");
  background-position: calc(100% - 5px) center;
  background-size: 20px 20px;
}
.dark .home-input-select {
  background-color: #1a1a1a !important; /* Fondo en modo oscuro */
  color: #aaa !important; /* Texto en modo oscuro */
}
/* Button styles */
.home-button {
  background-color: #729b79;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.home-button:hover {
  background-color: #47635c;
}

.home-form-columns {
  display: flex;
  gap: 20px; /* Espacio entre las columnas */
  width: 25rem;
}

/* Cada columna del formulario */
.home-form-column {
  flex: 2; /* Las columnas tendrán el mismo ancho */
}

.home-sub-title {
  color: #bacdb09e;
  margin-right: 70px;
  .h1 {
    font-size: 2.6rem;
  }
}

.home-service-card {
  display: flex; /* Usar flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  text-align: center;
  background-color: #bacdb09e;
  color: #101112;
  width: 70px; /* Ajusta el tamaño según lo que necesites */
  height: 40px;
  border: 1px solid #070000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 1px;
  border-radius: 8px;
}

.home-day-group {
  margin-bottom: 1px;
}

.home-day-title {
  font-size: 1.8rem;
  color: #475b63;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: left;
}
.dark .home-day-title {
  color: #f3f3f3; /* Texto en modo oscuro */
}

.home-schedule {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px; /* Espacio entre las tarjetas */
  padding: 5px;
}

.home-services-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(80px, 1fr)
  ); /* Crear columnas automáticas */
  grid-template-rows: repeat(
    auto-fill,
    minmax(40px, 1fr)
  ); /* Crear filas automáticas */
  gap: 30px; /* Espacio entre las tarjetas */
  padding: 30px;
}

.swiper-pagination-bullet-active {
  background-color: #729b79 !important;
}
.dark .swiper-pagination-bullet {
  background-color: #fff;
}

@media (max-width: 768px) {
  .home-services-grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(80px, 1fr)
    ); /* Menor tamaño de columna en pantallas pequeñas */
  }
}
