.main-content {
    padding: 20px;
  }
  
  .day-group-horarios {
    margin-bottom: 40px; 
  }

  .day-title-horarios {
    font-size: 1.8rem;
    color: #475b63;
    margin-bottom: 20px; 
    text-align: left;
  }

  .horarios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .horario-card {
    width: 100px;
    height: 100px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .horario-card h2 {
    margin: 0 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .horario-card p {
    margin: 0 0 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .horario-card button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .horario-card button:first-of-type:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
      contrast(1000%);
  }
  
  .horario-card button:first-of-type:hover {
    background-color: #003366;
  }
  
  .horario-card button:first-of-type {
    background-color: #ffffff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .horario-card button:last-of-type:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
      contrast(1000%);
  }
  
  .horario-card button:last-of-type:hover {
    background-color: #e4332c;
  }
  
  .horario-card button:last-of-type {
    background-color: #ffffff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  .centered-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  
  .filter-input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-input-table {
    padding: 8px 16px;
    border-radius: 4px;
    padding-left: 40px;
    background-image: url("../assets/SearchIcon.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    border: 1px solid #003366;
    font-size: 16px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.87);
    color: black;
  }
  @media (max-width: 540px) {
    .search-input-table {
      width: auto;
      height: 42px;
    }
  }
  
  .centered-h1 {
    color: #003366;
    font-size: 1.6rem;
  }

  .schedule-horarios {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px; /* Espacio entre las tarjetas */
    padding: 5px;
  }

  .horarios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Crear columnas automáticas */
    gap: 2px; /* Espacio entre las tarjetas */
    padding: 5px;
  }