.main-content-formHorario {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.centered-h1-formHorario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.controls-formHorario {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}


.filter-input-formHorario {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-horario-button-formHorario,
.order-button-formHorario {
  background-color: #bacdb0;
  color: white;
  padding: 10px 20px;
  border: 3px solid #bacdb0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.create-horario-button-formHorario:hover,
.order-button-formHorario:hover {
  border: 3px solid #bacdb0;
  background-color: #fff;
  color: #475b63;
}

@media (max-width: 767px) {
  .popup-formHorario .form-formHorario {
    padding: 20px;
    width: auto;
    padding-top: 30px;
  }
}

@media (max-width: 540px) {
  .main-content-formHorario {
    max-width: 350px;
  }
  .right-buttons-formHorario {
    flex-direction: column;
    padding-left: 0px;
  }
  
  .create-horario-button,
  .order-horario-button {
    background-color: #475b63;
    color: white;
    padding: 10px 20px;
    border: 3px solid #475b63;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  .create-button-formHorario,
  .order-button-formHorario {
    height: 60px;
    font-size: 20px;
  }
}
