.create-proveedor-button,
.order-button {
  background-color: white;
  color: #003366;
  padding: 10px 20px;
  border: 3px solid #003366;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.create-proveedor-button:hover,
.order-button:hover {
  background-color: #2e2c2f;
  color: white;
}

.delete-proveedor-button {
  margin-right: 70px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.delete-proveedor-button:hover,
.order-button:hover {
  background-color: #ff0000;
  color: white;
}

.delete-proveedor-button:hover img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(1000%);
}

.edit-proveedor-button {
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.edit-proveedor-button:hover,
.order-button:hover {
  background-color: #fff;
  color: white;
}

.edit-proveedor-button:hover img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(1000%);
}

.h1-form {
  color: #475b63;
  font-size: 30px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.prov-tabla-cont {
  overflow: auto;
}

.proovedores-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
  overflow-y: auto;
  height: 510px;
  scrollbar-width: thin;
}

.page-title {
  text-align: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.main-container {
  display: inherit;
  height: 100vh;
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.tabulator {
  margin-top: 20px;
  width: 127%;
  overflow: auto;
  background-color: #888;
  border: 1px solid #999;
  font-size: 14px;
  margin-left: 272px;
}

.table-container {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  padding: 0px;
  height: auto;
}

.top-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.title-table {
  color: #003366;
  margin-right: 70px;
  .h1 {
    font-size: 2.6rem;
  }
}

.table {
  table-layout: fixed;
}

.filter-actions {
  display: flex;
  gap: 10px;
}

@media (max-width: 767px) {
  .title-table {
    font-size: 2.6rem;
    margin: 0;
  }
  .top-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .delete-proveedor-button {
    margin-right: 0;
  }

  .filter-actions {
    margin-bottom: 10px;
  }
  .popup {
    width: 350px;
    height: 600px;
  }
  .popup .form {
    padding: 20px;
  }

  .popup .close {
    margin-right: 0;
  }

  .popup .options-class {
    width: 10px;
  }
}
/*
.table-container {
    width: 39%;
    height: auto;
  }
.tabulator {
  width: 325%;
  margin-left: 860px;
}
*/
@media (max-width: 560px) {
  .filter-actions {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title-table {
    margin-left: 35px;
  }
  .delete-user-button {
    margin-right: 35px;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down {
  animation: slideDown 0.5s ease-out;
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.slide-up {
  animation: slideUp 0.5s ease-out;
}

.mt-4 {
  margin-top: 1rem; /* Puedes ajustar el valor según sea necesario */
}

.mt-5 {
  margin-top: 2rem; /* Puedes ajustar el valor según sea necesario */
}

.disabled-button {
  opacity: 0.8;
  cursor: not-allowed;
}

.hover-off {
  pointer-events: none;
}
