@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("animations.css");

html {
  padding-top: 0px;
}

html,
body.dark:not(.login-page) {
  position: relative;
}

html.dark:not(.login-page),
body.dark:not(.login-page) {
  /* No necesitas estilos adicionales aquí */
}

/* Estilo para el modo oscuro */
body.dark:not(.login-page)::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
    linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);
  background-size: 14px 24px;
  background-attachment: fixed; /* Fondo fijo */
  mask-image: radial-gradient(
    ellipse 60% 50% at 50% 0%,
    #000 70%,
    transparent 100%
  );
}

/* Estilo para el modo claro */
body:not(.dark)::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(to right, #c5c5c5c7 1px, transparent 1px),
    /* color claro para las líneas */
      linear-gradient(to bottom, #c5c5c5c7 1px, transparent 1px); /* color claro para las líneas */
  background-size: 14px 24px;
  background-attachment: fixed; /* Fondo fijo */
  mask-image: radial-gradient(
    ellipse 60% 50% at 50% 0%,
    #fff 70%,
    transparent 100%
  ); /* Máscara en modo claro */
}

html {
  background-color: #f3e8ee; /* Fondo claro */
}

html.dark {
  background-color: #171617; /* Fondo oscuro */
}

#root {
  min-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  color: black;
  padding-top: 130px;
  transition: padding-top;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#root.login-root {
  padding-top: 0px;
  transition: none;
}

main {
  flex-grow: 1;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  html,
  body {
    padding-top: 0px;
  }
  #root {
    padding-top: 100px;
  }
}
